.fastlane-section{
    padding: 60px 20px;
    background-color: #fefcfce9;
}
.fastlane-container{
  padding: 40px 50px;
   background-color: #dee9fc80;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap:40px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(223, 217, 217, 0.1);
}
.fastlane-text{
    flex: 1;
}
.fastlane-text h2{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
}
.fastlane-desc{
    font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #4a5568;}
  .fastlane-button{  
  background-color: #2563eb;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
    
  }
  .fastlane-button:hover{
    background-color: #1e40af;
  }

    .fastlane-image img{
        max-width: 350px;
        width:100px;
        border-radius: 12px;      

    }
    /* responsive */

 @media (max-width: 768px) {
  .fastlane-container {
    flex-direction: column;
    text-align: center;
  }

  .fastlane-image img {
    margin: 0 auto;
  }
}