.signup-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1d572a, #2575fc);
  font-family: "Poppins", sans-serif;
}

.signup-card {
  background-color: white;
  padding: 40px 50px;
  border-radius: 15px;
  box-shadow: 0 5px 25px rgba(134, 62, 62, 0.15);
  width: 370px;
  text-align: center;
}

.signup-card h2 {
  margin-bottom: 25px;
  color: #333;
}

.input-group {
  text-align: left;
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  color: #555;
  font-weight: 500;
}

.input-group input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 15px;
  transition: 0.3s;
}

.input-group input:focus {
  border-color: #308020;
  box-shadow: 0 0 5px rgba(37, 117, 252, 0.4);
}

.signup-btn {
  width: 100%;
  padding: 12px;
  background-color: #6e368a;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.signup-btn:hover {
  background-color: #3047d7;
}

.signin-link {
  margin-top: 15px;
  font-size: 14px;
}

.signin-link a {
  color: #4c1e85;
  text-decoration: none;
  font-weight: 500;
}

.signin-link a:hover {
  text-decoration: underline;
}
