.saved-courses-container {
  max-width: 900px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
}

.saved-title {
  font-size: 2rem;
  font-weight: 700;
  color: #222;
  display: flex;
  align-items: center;
}

.underline {
  display: inline-block;
  width: 20px;
  background-color: rgb(67, 225, 83);
  border-radius: 2px;
}

.saved-description {
  margin: 12px 0 30px;
  color: #892a2a;
  font-size: 1rem;
  line-height: 1.5;
}

.save-box {
  display: flex;
  align-items: flex-start;
  background-color: #bab36f;
  padding: 16px 20px;
  border-radius: 10px;
  gap: 10px;
}

.info-icon {
  color: #0e0f10;
  margin-top: 4px;
}

.save-text {
  font-weight: 600;
  margin-bottom: 4px;
  color: #222;
}

.save-link a {
  color: #350a84;
  text-decoration: underline;
}

.no-course-text {
  text-align: center;
  margin-top: 40px;
  font-size: 1.4rem;
  font-weight: 700;
  color: #3a24a9;
}
