.stdyabcnt-container {
  background: #f8fafc;
  padding: 5rem ;
  
  
}


.stdyabcnt-container p {
  margin-bottom: 1.2rem;
}

.stdyabcnt-container h2 {
  margin-top: 2.2rem;
  margin-bottom: 1rem;
}
