.Nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 0;
  margin: 0;
  background: #c1cee1;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  height: 80px;
 
}

.Nav-links li {
  margin: 0;
}

.Nav-links a {
  text-decoration: none;
  color: #0b5d42;
  font-weight: 500;
  padding: 0.75rem 1.5rem;
  border-radius: 10px;
  transition: background 0.2s, color 0.2s;
  font-size: 1rem;
  display: block;
}

.Nav-links a:hover,
.Nav-links a:focus {
  background: #ffffff;
  color: #0d1333;
}