.aush-hero-bg {
  width: 100%;
  height: 400px;
  background-color: aliceblue;
  display: flex;
  align-items: center;
 
}

.aush-hero-content {
 background-color: aliceblue;
  color: #000000;
  padding: 2.5rem 2rem;
  border-radius: 18px;
  text-align: justify;
  max-width: 600px;
  width: 90%;
  
}

